pipeline:
  num_ingestion_workers: 32
  num_classification_workers: 1
  batch_size: 32
  batch_timeout_ms: 100
  max_queue_size: 1000
  
processing:
  target_sample_rate: 16000
  chunk_duration_sec: 25
  overlap_sec: 0.5
  transcription_model: "model/w2v-bert-darija-finetuned-clean-ivr"

ingestion:
  input_folder: input/
  
gpu:
  use_multi_gpu: true
  
logging:
  level: "INFO"
  file: "logs/pipeline"

compliance_rules:
  max_beeps: 5

storage:
  endpoint: "localhost:5058"
  access_key: "admin"
  secret_key: "password123"
  bucket_name: "controle-ivr"
  secure: false

database:
  database_type: "postgresql"
  db_host: "localhost"
  db_port: 5433
  db_name: "compliance_db"
  db_user: "user"
  db_password: "password"
  
csv_mappings:
  acquisition:
    ADSL:
      inwib2c_order__c: numero_commande
      inwib2c_degroupage_num__c: numero_ordre
      date_commande: "date_commande"
      date_last_status: "date_suspension"
      numero_de_contact: "client_number"
      statut_de_degroupage_iam: motif_suspension
      statut_commande: status_commande
    VULA:
      inwib2c_order__c: numero_commande
      createddate: "date_commande"
      lastmodifieddate: "date_suspension"
      inwib2c_numerocontact__c: "client_number"
      inwib2c_statut_demande__c: "status_commande"
      inwib2c_motif__c: "motif_suspension"


  SAV:
    "Numéro": "numero_commande"
    "ND": MDN
    "Date envoi IAM": "date_commande"  
    "Date suspension": "date_suspension"
    "Motif suspension": "motif_suspension"
    "Catégorie": "categorie"
    "Date réouverture systeme": "date_reouverture_systeme"
    "Date recyclage": "date_recyclage"
    "Commentaire envoi IAM": "client_number"
    "Numéro chez l’opérateur d’infrastructure": "numero_operateur_infrastructure"

branche:
  SAV: 
    ADSL: ADSL_SAV
    VULA: FTTH_VULA_SAV
  ACQUISITION:
    ADSL: ADSL_INSTALL
    VULA: FTTH_VULA_INSTALL


classification:
  acquisition: "config/acquisition.txt"
  sav: "config/sav.txt"
